/* Global style */

body {
    background-color: #e4e4e4;
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}

/* Heading */

header {
    width: 80%;
    max-width: 60%;
    border: 3px solid #000;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;
    padding: 0px 17px;
    max-height: 150px;
}

.name-box {
    max-width: 400px;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 180%;
    padding: 13px 13px;
    background-color: rgb(245, 245, 245);
    border: 3px solid white;
    border-radius: 10px;
    margin: 0%;
}

.score-div {
    display: flex;
    align-items: center;
}

/* Game section */

.main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 150px;
    grid-template-rows: repeat(1, 1fr) 150px;
}

.rock {
    background: url(../images/rock-hand.png) no-repeat center center;
    grid-column-start: 3;
}

.paper {
    background: url(../images/paper-hand.png) no-repeat center center;
    grid-column-start: 5;
    grid-row-start: 2;
}

.scissors {
    background: url(../images/scissors-hand.png) no-repeat center center;
    grid-column-start: 4;
    grid-row-start: 4;
}

.lizard {
    background: url(../images/lizard-hand.png) no-repeat center center;
    grid-column-start: 2;
    grid-row-start: 4;
}

.spock {
    background: url(../images/spock-hand.png) no-repeat center center;
    grid-column-start: 1;
    grid-row-start: 2;
}

.btn {
    height: 130px;
    width: 130px;
    border: 3px outset;
    border-radius: 50%;
    background-size: 100px 100px;
    box-shadow: 2px 2px;
}

.btn:hover {
    background-color: lightgreen;
    outline: 15px solid rgba(138, 253, 138, 0.5);
}

/* Result panel */

.result-panel {
    width: 30%;
    min-width: 320px;
    border: 3px solid #000;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-top: 20px;
}

.result-panel div {
    width: 50%;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000;
    color: #e4e4e4;
    margin-top: 20px;
}

footer p {
    padding: 0 2%;
}

/* Media queries */

/*For screen from 700px and down  */

@media screen and (max-width: 700px)  {
    
    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 150%;
    }

    .name-box {
        max-width: 250px;
    }

    header {
        max-width: 100%;
    }

    .btn {
        height: 100px;
        width: 100px;
        background-size: 70px 70px;
    }

    .main {
        grid-template-columns: repeat(1, 1fr) 80px;
        grid-template-rows: repeat(1, 1fr) 110px;
    }
}

/*For screen from 500px and down  */

@media screen and (max-width: 500px)  {

    .main {
        grid-template-columns: repeat(1, 1fr) 100px;
        grid-template-rows: repeat(1, 1fr) 120px;
    }

    .paper {
        grid-column-start: 4;
    }

    .spock {
        grid-column-start: 2;
    }
}